.text-dr{ color:#8b3365; font-weight: bold;}
.backtitle h2{color: #8b3365;}
.pname-initial{ background-color: #16058e; color: #fff;}
.page-footer{ background-color: #8b3365;}
.histroyctrl .card .card-header{ background-color: #8b3365; color:#fff;}
.sw-theme-dots > ul.step-anchor > li.active > a { color: #8b3365 !important;}
.sw-theme-dots > ul.step-anchor > li.active > a:after { background: #8b3365 !important;}
.table-borderless th { color: #8b3365 !important;}
.bg-kauvery{background-color: #8b3365; color: #fff;}
.ui-widget-header { border: 1px solid #8b3365; background: #8b3365 !important;}
.va-orange{ background-color: #FCDBDB; }
.material-icons i { color: #16058e; }
.form-check-input:checked { background-color: #8b3365; border-color: #8b3365; }
.form-check-input:focus { box-shadow: 0 0 0 0.25rem rgb(139 51 101 / 15%); }

