@model ARMCommon.Model.UserModel

 <font color="@ViewBag.color"> <b>@ViewBag.result</b></font>

@*<h5> Please provide Admin Email Id you used while Registration</h5>*@

<div class="main-container">
    <div class="reset-container">
    <div class="col-md-12">
       <form asp-action="ResetCredential">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center">
                    <img src="~/images/forgot-password_icon.png" class="rounded" width="80px">
                </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Admin Email Id</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                <div class="d-flex justify-content-between mt-4">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                    <div class="form-group"><a asp-controller="ARMSignIn" asp-action="SignIn"><span class="text-white btn btn-primary"> Back </span></a></div>
                </div>
        </form>
    </div>
       <img id="cardHead" src="~/images/hero-img-contact.svg" alt="connect" />
    </div>
    </div>
@*<a asp-controller="ARMSignIn" asp-action="SignIn"> <b> Back </b> </a>*@

@section Scripts {
     <style>
        .reset-container {
            max-width: 400px;
            width: 100%;
            padding: 16px;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-left: auto;
            margin-right: auto;
        }

        label.control-label {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
        }

        .main-container {
            margin-top: 8%;
        }
     </style>
}