@model ARMCommon.Model.ARMApp;



@{
    ViewData["Title"] = "Create ARM Apps";
}

@* <a asp-controller="ARMSignIn" asp-action="SignOut" id="SignOut" class="redirectButton" title="redirectButton"> Sign Out </a> *@
<div class="container p-5">
<h2>Configure App</h2>
    <div class="accordion" id="agile-connect-app">
        <form asp-action="Create" id="armForm" enctype="multipart/form-data">
            <div class="connect-app d-flex justify-content-between mt-3 mb-3">
                <div class="back-list">
                    <a asp-controller="ARMApps" asp-action="List" id="redirectApp" class="redirectButton btn btn-primary" title="redirectButton"><span class="btn-label"> <i class="fa-solid fa-arrow-left"></i></span> Back To List </a>
                </div>
                <div class="configure-app">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
    <hr />
             <div class="accordion-item rounded-3 border-0 shadow mb-2">
                <h3 class="accordion-header">
                    <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                            data-bs-toggle="collapse" data-bs-target="#app-form" aria-expanded="false"
                            aria-controls="app-form">
                        &#11162 Form
                    </button>
                </h3>
                <div id="app-form" class="accordion-collapse collapse show" data-bs-parent="#agile-connect-app">
                    <div class="accordion-body">
                        <div class="form-group row g-4">
                            <div class="col-md-6">
                                <label asp-for="AppName" class="control-label"> App Name</label>
                                <input asp-for="AppName" id="appName" class="form-control" />
                                <span asp-validation-for="AppName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="AppTitle" class="control-label"> Title</label>
                                <input asp-for="AppTitle" id="appTitle" class="form-control" />
                                <span asp-validation-for="AppTitle" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="AppLogoBase64" class="control-label"> Logo</label>
                                @* <input asp-for="AppLogo" id="displayImg" class="form-control" />*@
                                <input type="file" asp-for="AppLogoBase64" id="displayImg" class="form-control" />
                                <span asp-validation-for="AppLogoBase64" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="AppColor" class="control-label"> Color</label>
                                @* <input asp-for="AppColor" id="appColor" class="form-control" />*@
                                <input asp-for="AppColor" id="appColor" class="form-control" type="color" />
                                <span asp-validation-for="AppColor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item rounded-3 border-0 shadow mb-2">
                <h3 class="accordion-header">
                    <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                            data-bs-toggle="collapse" data-bs-target="#axpert-db" aria-expanded="false"
                            aria-controls="axpert-db">
                        &#11162 Axpert DB Details
                    </button>
                </h3>
                <div id="axpert-db" class="accordion-collapse collapse show" data-bs-parent="#agile-connect-app">
                    <div class="accordion-body">
                        <div class="form-group row g-4">
                            <div class="col-md-6">
                                <label asp-for="AxpertAppName" class="control-label">Axpert AppName</label>
                                <input asp-for="AxpertAppName" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="DataBase" class="control-label">DataBase Type</label><br />
                                <select asp-for="DataBase">
                                    <option> Select DataBase Type</option>
                                    <option value="postgre"> postgre </option>
                                    <option value="oracle">oracle</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="DBVersion" class="control-label"> Connection/server Name</label>
                                <input asp-for="DBVersion" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="ConnectionName" class="control-label"> DataBase Name </label>
                                <input asp-for="ConnectionName" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="UserName" class="control-label"> User Name</label>
                                <input asp-for="UserName" class="form-control" />
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Password" class="control-label"> Password </label>
                                <input asp-for="Password" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="AxpertScriptsUrl" class="control-label">Axpert Script Url</label>
                                <textarea asp-for="AxpertScriptsUrl" class="form-control" maxlength=1000></textarea>
                                <span asp-validation-for="AxpertScriptsUrl" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="AxpertWebUrl" class="control-label">Axpert Web Url</label>
                                <textarea asp-for="AxpertWebUrl" class="form-control" maxlength=1000></textarea>
                                <span asp-validation-for="AxpertWebUrl" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="testConnectionBtn" class="btn btn-primary mt-3">
                            Test DB
                            Connection
                        </button>
                    </div>
                </div>
                
            </div>
            <div class="accordion-item rounded-3 border-0 mb-2 shadow">
                <h3 class="accordion-header">
                    <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                            data-bs-toggle="collapse" data-bs-target="#axpert-redis" aria-expanded="false"
                            aria-controls="axpert-redis">
                        &#11162 Axpert Redis Details
                    </button>
                </h3>
                <div id="axpert-redis" class="accordion-collapse collapse" data-bs-parent="#agile-connect-app">
                    <div class="accordion-body">
                        <div class="form-group row g-4">
                            <div class="col-md-6">
                                <label asp-for="RedisIP" class="control-label"> Host</label>
                                <input asp-for="RedisIP" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="RedisPassword" class="control-label"> Password</label>
                                <input asp-for="RedisPassword" class="form-control" />
                            </div>
                        </div>
                        <div>
                            <button type="button" id="testRedisConnectionBtn" onclick="testRedisConnection()"
                                    class="btn btn-primary mt-3">
                                Test Redis Connection
                            </button>

                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item rounded-3 border-0 mb-2 shadow">
                <h3 class="accordion-header">
                    <button class="accordion-button border-bottom collapsed fw-semibold" type="button"
                            data-bs-toggle="collapse" data-bs-target="#switched-flags" aria-expanded="false"
                            aria-controls="switched-flags">
                        &#11162 Switched On/Off Flags
                    </button>
                </h3>
                <div id="switched-flags" class="accordion-collapse collapse" data-bs-parent="#agile-connect-app">
                    <div class="accordion-body">
                        <div class="form-group row g-4">
                            <div id="switch-box" class="col-md-6">
                                <div class="form-group form-check">
                                    <span> Enable Citizen Users</span>
                                </div>
                                <div class=" toggleswitch">
                                    <label class="switch">
                                        <input class="form-check-input" type="checkbox" data-val="true"
                                               data-val-required="The IsCitizenUsers field is required."
                                               id="IsCitizenUsers" name="IsCitizenUsers" value="true">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div id="switch-box" class="col-md-6">
                                <div class="form-group form-check">
                                    <span> Enable Geo Fencing </span>
                                </div>
                                <div class=" toggleswitch">
                                    <label class="switch">
                                        <input class="form-check-input" type="checkbox" asp-for="IsGeoFencing" />
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div id="switch-box" class="col-md-6">
                                <div class="form-group form-check">
                                    <span> Enable Geo Tagging </span>
                                </div>
                                <div class=" toggleswitch">
                                    <label class="switch">
                                        <input class="form-check-input" type="checkbox" asp-for="IsGeoTagging" />
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div id="switch-box" class="col-md-6">
                                <div class="form-group form-check ">
                                    <span> Enable Fingerprint login</span>
                                </div>
                                <div class=" toggleswitch">
                                    <label class="switch">
                                        <input class="form-check-input" type="checkbox" asp-for="EnableFingerPrint" />
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div id="switch-box" class="col-md-6">
                                <div class="form-group form-check">
                                    <span> Enable Face Recognization</span>
                                </div>

                                <div class=" toggleswitch">
                                    <label class="switch">
                                        <input class="form-check-input" type="checkbox"
                                               asp-for="EnablefacialRecognition" />
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div id="switch-box" class="col-md-6">
                                <div class="form-group form-check">
                                    <span> Enable Force Login</span>
                                </div>

                                <div class=" toggleswitch ">
                                    <label class="switch">
                                        <input class="form-check-input" id=rdForceLogin type="checkbox"
                                               onclick="EnableDisableTextBox(this)" asp-for="ForceLogin" />
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <input asp-for="ForceLoginDays" id="txtDays" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GOn6WLABtNIlIvH_6nKsgh52cl6WqCOhI2LKsT7cToCFmEjt5qGsqU7YVgDd7uxPxKQk3BOFblUJ3qQ34rHDaqRQE5KCX0l-TpXcFkQrHG6P1qnAo9Xd14SZDOzOyaptXDKxVUNHRbW6ipUMTaaYVq5SAOvf-JK7tv1mIBIssfRmKPvuuU-8JJjIfpgSK34kw">

        </form>
    </div>
</div>

<button class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
    <i class="material-icons">arrow_upward</i>
</button>

<script>

    //Get the button
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>



@section Scripts {
    <style>
        a#SignOut {
            position: absolute;
            top: 19px;
            right: 40px;
            font-size: large;
        }

        input.btn.btn-primary {
            margin-left: 27px;
        }

        input#txtDays {
            margin: 6px;
        }

        div#switch-box {
            display: flex;
            justify-content: space-between;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 58PX;
            height: 33px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 17px;
        }

            .slider.round:before {
                border-radius: 50%;
            }


        form#armForm {
            font-weight: 500;
        }

        div#enableSwitches {
            margin-top: 20px;
            margin-left: -15px;
        }

        input#days {
            margin: 5px;
        }

        h2 {
            font-size: 20px;
            letter-spacing: 2px;
        }

        span.btn-label {
            padding: 7.6px 12px;
            background: rgba(0, 0, 0, 0.15);
            position: relative;
            left: -12px;
            border-radius: 3px 0px 0px 3px;
        }

        select#DataBase {
            outline: none;
            font-size: 14px;
            font-weight: 400;
            color: #333;
            border-radius: 5px;
            border: 1px solid #aaa;
            padding: 0 15px;
            height: 36px;
        }

        label.control-label {
            margin-bottom: 1rem;
        }

        .p-5 {
            padding: 1rem !important;
        }

    </style>

    <script>
        $(document).ready(function () {
            $("#txtDays").prop("disabled", true);

        });

    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            var txtPassportNumber = document.getElementById("txtDays");
            txtPassportNumber.disabled = rdForceLogin.checked ? false : true;
            if (!txtDays.disabled) {
                txtDays.focus();
            }
        });
   </script>


    <script type="text/javascript">

        $(document).ready(function () {
            var txtPassportNumber = document.getElementById("txtDays");
            txtPassportNumber.disabled = rdForceLogin.checked ? false : true;
            if (!txtDays.disabled) {
                txtDays.focus();
            }


        });
        
        $(function () {
            $('#testConnectionBtn').click(function () {
                var axpertAppName = $('#AxpertAppName').val();
                var dataBase = $('#DataBase').val();
                var dbVersion = $('#DBVersion').val();
                var connectionName = $('#ConnectionName').val();
                var userName = $('#UserName').val();
                var password = $('#Password').val();
                var DataBaseName = $('#AxpertAppName').val();
                var database = userName;

               
                var connectionString;
                if (dataBase === 'postgre') {

                    if (connectionName.includes(':')) {
                        if (userName.includes('\\') || database.includes('\\')) {
                            var userDtls = userName.split('\\');
                            var databaseDtls = database.split('\\');

                            if (userDtls.length > 1 && userDtls[1] !== '') {
                                if (userDtls.length > 1 && userDtls[1] !== '' && databaseDtls.length > 1 && databaseDtls[1] !== '') {
                                    userName = userDtls[0];
                                    database = databaseDtls[1];
                                } else {
                                    userName = userDtls[0];
                                    database = databaseDtls[0];
                                }
                            }
                        } else {
                            database = DataBaseName;
                        }

                        // Default port for PostgreSQL is 5432. If it was changed we need to pass the port no separately in the connection string.
                        var serverPort = connectionName.substring(connectionName.indexOf(':') + 1);
                        connectionString = 'Server=' + connectionName.substring(0, connectionName.indexOf(':')) + '; Port=' + serverPort + '; Database=' + database + ';Username=' + userName + ';Pwd=' + password + ';Pooling=false;';
                        console.log(connectionString)
                        //return connectionString;
                    } else {
                        if (userName.includes('\\') || database.includes('\\')) {
                            var userDtls = userName.split('\\');
                            var databaseDtls = database.split('\\');

                            if (userDtls.length > 1 && userDtls[1] !== '' && databaseDtls.length > 1 && databaseDtls[1] !== '') {
                                userName = userDtls[0];
                                database = databaseDtls[1];
                            } else {
                                userName = userDtls[0];
                                database = databaseDtls[0];
                            }
                        } else {
                            database = DataBaseName;
                        }

                        connectionString = 'Server=' + dbVersion + '; Database=' + connectionName + '; Username=' + userName + '; Password=' + password + ';';
                        console.log(connectionString)
                        // return connectionString;
                    }


                    // Handle other database types here.

                    //  return connectionString;
                    //connectionString = 'Host=' + connectionName + ';Database=' + DataBaseName + ';User Id=' + userName + ';Password=' + password + ';';

                }
                else if (dataBase === 'oracle') {
                    connectionString = 'Data Source=' + dbVersion + '; User Id=' + userName + '; Password =' + password + ';';
                }
                else {
                    alert('Please select a database type.');
                    return;
                }

                // Test the database connection
                $.ajax({
                    url: '@Url.Action("TestConnection", "ARMApps")',
                    type: 'POST',
                    data: {
                        dbType: dataBase,
                        connectionString: connectionString,
                        appname:axpertAppName,

                    },

                    success: function (result) {
                        if (result.success) {
                            alert("Connection successful.");
                        } else {
                            alert("Connection Failed: " + result.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Connection Failed: ' + error);
                    }
                });
            });
        });
   function testRedisConnection() {
            var redisIP = $("#RedisIP").val();
            var redisPassword = $("#RedisPassword").val();

            $.ajax({
                url: '@Url.Action("TestRedisConnection", "ARMApps")',
                type: 'POST',
                data: { redisIP: redisIP, redisPassword: redisPassword, appname: axpertAppName },
                success: function (result) {
                    if (result.success) {
                        alert("Connection successful.");
                    } else {
                        alert("Connection failed: " + result.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Connection failed: : ' + error);
                }
            });
        }
    </script>

<script type="text/javascript">
    function EnableDisableTextBox(rdForceLogin) {
            var txtPassportNumber = document.getElementById("txtDays");
            txtPassportNumber.disabled = rdForceLogin.checked ? false : true;
            if (!txtDays.disabled) {
                txtDays.focus();
            }
        }
    </script>
}
